#Empty for now
/target/classes/META-INF/MANIFEST.MF
/target/classes/META-INF/maven/ChessGame-Maven-J8/ChessGame-Maven-J8/pom.properties
/target/classes/META-INF/maven/ChessGame-Maven-J8/ChessGame-Maven-J8/pom.xml
/target/classes/bean/Ecouteur.class
/target/classes/bean/Joueur.class
/target/classes/bean/pawns/Case.class
/target/classes/bean/pawns/Cavalier.class
/target/classes/bean/pawns/Fou.class
/target/classes/bean/pawns/Piece.class
/target/classes/bean/pawns/Pion.class
/target/classes/bean/pawns/Reine.class
/target/classes/bean/pawns/Roi.class
/target/classes/bean/pawns/Tour.class
/target/classes/bean/pawns/copy/Case.class
/target/classes/bean/pawns/copy/Cavalier.class
/target/classes/bean/pawns/copy/Fou.class
/target/classes/bean/pawns/copy/Piece.class
/target/classes/bean/pawns/copy/Pion.class
/target/classes/bean/pawns/copy/Reine.class
/target/classes/bean/pawns/copy/Roi.class
/target/classes/bean/pawns/copy/Tour.class
/target/classes/images/CavalierB.png
/target/classes/images/CavalierN.png
/target/classes/images/FouB.png
/target/classes/images/FouN.png
/target/classes/images/PionB.png
/target/classes/images/PionN.png
/target/classes/images/ReineB.png
/target/classes/images/ReineN.png
/target/classes/images/RoiB.png
/target/classes/images/RoiN.png
/target/classes/images/TourB.png
/target/classes/images/TourN.png
/target/classes/ui/Window$Menu.class
/target/classes/ui/Window.class
/target/
